---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?dt=2024-08-09&hour=18&key=1d62709f9ba242638d7162145240208&q=34.05357,-118.24545
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999959'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 02:34:29'
      Cdn-Edgestorageid:
      - '845'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 458fd65acadcd4d5db66e46ac2cde2c9
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Los Angeles","region":"California","country":"United
        States of America","lat":34.05,"lon":-118.25,"tz_id":"America/Los_Angeles","localtime_epoch":1722911576,"localtime":"2024-08-05
        19:32"},"current":{"last_updated_epoch":1722911400,"last_updated":"2024-08-05
        19:30","temp_c":29.2,"temp_f":84.6,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":6.5,"wind_kph":10.4,"wind_degree":235,"wind_dir":"SW","pressure_mb":1009.0,"pressure_in":29.81,"precip_mm":0.0,"precip_in":0.0,"humidity":33,"cloud":8,"feelslike_c":28.6,"feelslike_f":83.4,"windchill_c":29.2,"windchill_f":84.6,"heatindex_c":28.6,"heatindex_f":83.4,"dewpoint_c":11.6,"dewpoint_f":52.8,"vis_km":10.0,"vis_miles":6.0,"uv":7.0,"gust_mph":7.9,"gust_kph":12.7},"forecast":{"forecastday":[{"date":"2024-08-09","date_epoch":1723161600,"day":{"maxtemp_c":31.9,"maxtemp_f":89.3,"mintemp_c":22.5,"mintemp_f":72.5,"avgtemp_c":26.3,"avgtemp_f":79.3,"maxwind_mph":10.5,"maxwind_kph":16.9,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":42,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":10.0},"astro":{"sunrise":"06:10
        AM","sunset":"07:46 PM","moonrise":"10:55 AM","moonset":"10:27 PM","moon_phase":"Waxing
        Crescent","moon_illumination":18,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1723251600,"time":"2024-08-09
        18:00","temp_c":28.1,"temp_f":82.7,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":8.5,"wind_kph":13.7,"wind_degree":236,"wind_dir":"WSW","pressure_mb":1010.0,"pressure_in":29.82,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":35,"cloud":2,"feelslike_c":27.5,"feelslike_f":81.6,"windchill_c":28.1,"windchill_f":82.7,"heatindex_c":27.5,"heatindex_f":81.6,"dewpoint_c":11.2,"dewpoint_f":52.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":9.8,"gust_kph":15.7,"uv":7.0}]}]}}'
  recorded_at: Tue, 06 Aug 2024 02:34:29 GMT
recorded_with: VCR 6.2.0
