---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=GzromzOTeut8c39w4Jk6sVtVyxH6jTo7&location=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31d-UWl4xqMA+XoeHsC3eT5D4hq+shg"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"denver,co"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Denver","adminArea5Type":"City","adminArea4":"Denver","adminArea4Type":"County","adminArea3":"CO","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":39.74001,"lng":-104.99202},"displayLatLng":{"lat":39.74001,"lng":-104.99202},"mapUrl":""}]}]}'
  recorded_at: Mon, 05 Aug 2024 16:28:31 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?key=1d62709f9ba242638d7162145240208&q=39.74001,-104.99202
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999971'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/05/2024 16:28:31'
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e6dc23c69bd1ee1bb3100c1a4355b469
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Denver","region":"Colorado","country":"United
        States of America","lat":39.74,"lon":-104.99,"tz_id":"America/Denver","localtime_epoch":1722875220,"localtime":"2024-08-05
        10:27"},"current":{"last_updated_epoch":1722874500,"last_updated":"2024-08-05
        10:15","temp_c":30.2,"temp_f":86.3,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":104,"wind_dir":"ESE","pressure_mb":1014.0,"pressure_in":29.94,"precip_mm":0.0,"precip_in":0.0,"humidity":26,"cloud":11,"feelslike_c":28.8,"feelslike_f":83.8,"windchill_c":30.2,"windchill_f":86.3,"heatindex_c":28.8,"heatindex_f":83.8,"dewpoint_c":8.6,"dewpoint_f":47.4,"vis_km":10.0,"vis_miles":6.0,"uv":8.0,"gust_mph":6.7,"gust_kph":10.8},"forecast":{"forecastday":[{"date":"2024-08-05","date_epoch":1722816000,"day":{"maxtemp_c":34.3,"maxtemp_f":93.8,"mintemp_c":21.3,"mintemp_f":70.3,"avgtemp_c":25.6,"avgtemp_f":78.1,"maxwind_mph":20.4,"maxwind_kph":32.8,"totalprecip_mm":3.26,"totalprecip_in":0.13,"totalsnow_cm":0.0,"avgvis_km":9.9,"avgvis_miles":6.0,"avghumidity":42,"daily_will_it_rain":1,"daily_chance_of_rain":79,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":10.0},"astro":{"sunrise":"06:03
        AM","sunset":"08:08 PM","moonrise":"07:04 AM","moonset":"09:07 PM","moon_phase":"Waxing
        Crescent","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722837600,"time":"2024-08-05
        00:00","temp_c":24.8,"temp_f":76.6,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":283,"wind_dir":"WNW","pressure_mb":1014.0,"pressure_in":29.95,"precip_mm":0.02,"precip_in":0.0,"snow_cm":0.0,"humidity":45,"cloud":74,"feelslike_c":25.4,"feelslike_f":77.6,"windchill_c":24.8,"windchill_f":76.6,"heatindex_c":25.4,"heatindex_f":77.6,"dewpoint_c":11.3,"dewpoint_f":52.4,"will_it_rain":1,"chance_of_rain":72,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":6.6,"gust_kph":10.7,"uv":0},{"time_epoch":1722841200,"time":"2024-08-05
        01:00","temp_c":24.6,"temp_f":76.2,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":199,"wind_dir":"SSW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":43,"cloud":29,"feelslike_c":25.2,"feelslike_f":77.4[...]
- request:
    method: get
    uri: https://openlibrary.org/search.json?q=denver,co
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Ol-Stats:
      - '"SR 1 0.551 TT 0 0.649"'
    body:
      encoding: UTF-8
      string: |-
        {
            "numFound": 756,
            "start": 0,
            "numFoundExact": true,
            "docs": [
                {
                    "author_key": [
                        "OL2843451A"
                    ],
                    "author_name": [
                        "Universal Map"
                    ],
                    "ebook_access": "no_ebook",
                    "ebook_count_i": 0,
                    "edition_count": 1,
                    "edition_key": [
                        "OL10909613M"
                    ],
                    "first_publish_year": 2001,
                    "format": [
                        "Paperback"
                    ],
                    "has_fulltext": false,
                    "isbn": [
                        "9780762507849",
                        "0762507845"
                    ],
                    "key": "/works/OL8503198W",
                    "language": [
                        "eng"
                    ],
                    "last_modified_i": 1338943517,
                    "public_scan_b": false,
                    "publish_date": [
                        "January 2001"
                    ],
                    "publish_year": [
                        2001
                    ],
                    "publisher": [
                        "Universal Map Enterprises"
                    ],
                    "seed": [
                        "/books/OL10909613M",
                        "/works/OL8503198W",
                        "/authors/OL2843451A"
                    ],
                    "title": "Denver, Co",
                    "title_suggest": "Denver, Co",
                    "title_sort": "Denver, Co",
                    "type": "work",
                    "publisher_facet": [
                        "Universal Map Enterprises"
                    ],
                    "_version_": 1795929215941476352,
                    "author_facet": [
                        "OL2843451A Universal Map"
                    ]
                },
                {
                    "author_alternative_name": [
                        "Washington Booker T.",
                        "Booker T. WASHINGTON",
                        "Booker, T. Washington",
                        "Booker T. . Washington",
                        "T. Booker Washington",
                        "BOOKER T. WASHINGTON",
                        "Booker T. With Introduction By Booker T. Washington III Washington",
                        "Booker T 1856-1915 Washington",
                        "Washington, Booker Taliaferro, 1859?-1915.",
                        "Booker T., Washington",
                        "Booker T. 1856-1915 Washington",
                        "Booker Washington",
                        "Booker T. Booker T. Washington",
                        "booker t washington",
                        "Booker T Washington",
                        "Booker Taliaferro Washington"
                    ],
                    "author_key": [
                        "OL8686A",
                        "OL9605944A",
                        "OL10720185A",
                        "OL11092500A"
                    ],
                    "author_name": [
                        "Booker T. Washington",
                        "Booker Washington",
                        "Booker T. Washington",
                        "Booker T Washington"
                    ],
                    "contributor": [
                        "Andrew L. Barnes (Narrator)",
                        "Loram, C. T. 1879-1940.",
                        "Jonathan Reese (Narrator)",
                        "Andrews, William L., 1946-",
                        "Brundage, W. Fitzhugh 1959-",
                        "Walter H. Page (Introduction)",
                        "Clark, Alfred Houghton, artist.",
                        "Daniels, Jonathan.",
                        "New York Public Library.",
                        "W. Fitzhugh Brundage (Editor)",
                        "William L. Andrews (Editor)"
                    ],
                    "cover_edition_key": "OL7384142M",
                    "cover_i": 119317,
                    "ddc": [
                        "378.111",
                        "301.45196024",
                        "378.11092",
                        "370.92",
                        "378.1110924",
                        "973.0496073",
                        "923.773",
                        "378.111092",
                        "370.924"
                    ],
                    "ebook_access": "public",
                    "ebook_count_i": 17,
                    "edition_count": 258,
              [...]
[...]
