---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?dt=2024-08-08&hour=6&key=1d62709f9ba242638d7162145240208&q=42.364506,-71.038887
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999959'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 02:34:27'
      Cdn-Edgestorageid:
      - '718'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 82e6e46a549f31abedc5e7ba7330b72b
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Boston","region":"Massachusetts","country":"United
        States of America","lat":42.36,"lon":-71.04,"tz_id":"America/New_York","localtime_epoch":1722911575,"localtime":"2024-08-05
        22:32"},"current":{"last_updated_epoch":1722911400,"last_updated":"2024-08-05
        22:30","temp_c":24.9,"temp_f":76.9,"is_day":0,"condition":{"text":"Partly
        Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":11.2,"wind_kph":18.0,"wind_degree":220,"wind_dir":"SW","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.0,"precip_in":0.0,"humidity":66,"cloud":31,"feelslike_c":26.4,"feelslike_f":79.6,"windchill_c":25.0,"windchill_f":76.9,"heatindex_c":26.4,"heatindex_f":79.6,"dewpoint_c":18.2,"dewpoint_f":64.8,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":18.5,"gust_kph":29.7},"forecast":{"forecastday":[{"date":"2024-08-08","date_epoch":1723075200,"day":{"maxtemp_c":23.3,"maxtemp_f":73.9,"mintemp_c":14.5,"mintemp_f":58.1,"avgtemp_c":18.5,"avgtemp_f":65.4,"maxwind_mph":8.1,"maxwind_kph":13.0,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":75,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":8.0},"astro":{"sunrise":"05:45
        AM","sunset":"07:54 PM","moonrise":"09:44 AM","moonset":"09:49 PM","moon_phase":"Waxing
        Crescent","moon_illumination":11,"is_moon_up":1,"is_sun_up":0},"hour":[{"time_epoch":1723111200,"time":"2024-08-08
        06:00","temp_c":15.2,"temp_f":59.4,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":4.5,"wind_kph":7.2,"wind_degree":27,"wind_dir":"NNE","pressure_mb":1018.0,"pressure_in":30.06,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":91,"cloud":5,"feelslike_c":15.2,"feelslike_f":59.4,"windchill_c":15.2,"windchill_f":59.4,"heatindex_c":15.2,"heatindex_f":59.4,"dewpoint_c":13.1,"dewpoint_f":55.6,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":8.5,"gust_kph":13.8,"uv":4.0}]}]}}'
  recorded_at: Tue, 06 Aug 2024 02:34:27 GMT
recorded_with: VCR 6.2.0
