---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=GzromzOTeut8c39w4Jk6sVtVyxH6jTo7&location=boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31c-86hwIqFSo9VTj/e824qmyFmCqSw"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boston,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boston","adminArea5Type":"City","adminArea4":"Suffolk","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":42.35866,"lng":-71.05674},"displayLatLng":{"lat":42.35866,"lng":-71.05674},"mapUrl":""}]}]}'
  recorded_at: Mon, 05 Aug 2024 02:13:45 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=1d62709f9ba242638d7162145240208&q=42.35866,-71.05674
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999977'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/05/2024 02:13:45'
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 860687b0426f83eb1f43dee29d946085
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Boston","region":"Massachusetts","country":"United
        States of America","lat":42.36,"lon":-71.06,"tz_id":"America/New_York","localtime_epoch":1722823934,"localtime":"2024-08-04
        22:12"},"current":{"last_updated_epoch":1722823200,"last_updated":"2024-08-04
        22:00","temp_c":21.9,"temp_f":71.4,"is_day":0,"condition":{"text":"Mist","icon":"//cdn.weatherapi.com/weather/64x64/night/143.png","code":1030},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":214,"wind_dir":"SW","pressure_mb":1013.0,"pressure_in":29.9,"precip_mm":0.05,"precip_in":0.0,"humidity":96,"cloud":86,"feelslike_c":21.9,"feelslike_f":71.4,"windchill_c":21.9,"windchill_f":71.4,"heatindex_c":24.6,"heatindex_f":76.2,"dewpoint_c":21.1,"dewpoint_f":70.1,"vis_km":2.0,"vis_miles":1.0,"uv":1.0,"gust_mph":6.1,"gust_kph":9.8},"forecast":{"forecastday":[{"date":"2024-08-04","date_epoch":1722729600,"day":{"maxtemp_c":28.0,"maxtemp_f":82.4,"mintemp_c":21.4,"mintemp_f":70.5,"avgtemp_c":23.8,"avgtemp_f":74.9,"maxwind_mph":9.4,"maxwind_kph":15.1,"totalprecip_mm":20.67,"totalprecip_in":0.81,"totalsnow_cm":0.0,"avgvis_km":7.9,"avgvis_miles":4.0,"avghumidity":90,"daily_will_it_rain":1,"daily_chance_of_rain":97,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Heavy
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/308.png","code":1195},"uv":7.0},"astro":{"sunrise":"05:41
        AM","sunset":"08:00 PM","moonrise":"05:30 AM","moonset":"08:31 PM","moon_phase":"New
        Moon","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722744000,"time":"2024-08-04
        00:00","temp_c":22.9,"temp_f":73.2,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":4.9,"wind_kph":7.9,"wind_degree":240,"wind_dir":"WSW","pressure_mb":1010.0,"pressure_in":29.82,"precip_mm":0.02,"precip_in":0.0,"snow_cm":0.0,"humidity":93,"cloud":74,"feelslike_c":25.3,"feelslike_f":77.5,"windchill_c":22.9,"windchill_f":73.2,"heatindex_c":25.3,"heatindex_f":77.5,"dewpoint_c":21.7,"dewpoint_f":71.1,"will_it_rain":0,"chance_of_rain":69,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":9.2,"gust_kph":14.8,"uv":0},{"time_epoch":1722747600,"time":"2024-08-04
        01:00","temp_c":22.6,"temp_f":72.6,"is_day":0,"condition":{"text":"Patchy
        rain nearby","icon":"//cdn.weatherapi.com/weather/64x64/night/176.png","code":1063},"wind_mph":4.7,"wind_kph":7.6,"wind_degree":227,"wind_dir":"SW","pressure_mb":1010.0,"pressure_in":29.82,"precip_mm":0.08,"precip_in":0.0,"snow_cm":0.0,"humidity":92,"cloud":88,"feelslike_c":25.0,"feelslike_f":7[...]
