---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=GzromzOTeut8c39w4Jk6sVtVyxH6jTo7&location=new%20york,ny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"321-uH2srhoN/fiFhYAajEoZHSJoo1U"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"new
        york,ny"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"New
        York","adminArea5Type":"City","adminArea4":"New York","adminArea4Type":"County","adminArea3":"NY","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":40.71453,"lng":-74.00712},"displayLatLng":{"lat":40.71453,"lng":-74.00712},"mapUrl":""}]}]}'
  recorded_at: Tue, 06 Aug 2024 02:34:26 GMT
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=boston,ma&key=GzromzOTeut8c39w4Jk6sVtVyxH6jTo7&to=new%20york,ny
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"42da-eezaZPuP/v9n2+sRceXOjqzAn/Q"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"AJsA_v___wYAAQDMAAAAeNpjOMPAwMTAwMCekVqUapWcu_X9THEgl-HXObdaLp5nzRW-izTk42D0PiA9G0gzYAEwE_onlUmC-J_TLeuZeKyy4r3n3_ocA6N9gPQOIM2AA4SvX9q8mRHIcFecKMKgAhYDuW_jQYYFQEoBxG9gYHAAih5QaGF2APE5GLQmNTgwOHAoMgEAX4AwOkD11_0:car","realTime":12487,"distance":215.1939,"time":12517,"formattedTime":"03:28:37","hasHighway":true,"hasTollRoad":true,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":true,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":false,"legs":[{"index":0,"hasTollRoad":true,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":true,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":false,"hasTimedRestriction":false,"distance":215.1939,"time":12487,"formattedTime":"03:28:07","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.3492,"narrative":"Head
        toward Quaker Ln on Congress St. Go for 0.3 mi.","time":59,"direction":5,"directionName":"Southeast","signs":[],"maneuverNotes":[],"formattedTime":"00:00:59","transportMode":"car","startPoint":{"lat":42.358659,"lng":-71.056743},"turnType":0,"attributes":0,"iconUrl":"","streets":["Congress
        St","Post Office Sq"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=GzromzOTeut8c39w4Jk6sVtVyxH6jTo7&size=225,160&locations=42.358659,-71.056743|marker-1||42.35417,-71.05407999999997|marker-2||&center=42.3564145,-71.05541149999999&defaultMarker=none&zoom=14&session=AJsA_v___wYAAQDMAAAAeNpjOMPAwMTAwMCekVqUapWcu_X9THEgl-HXObdaLp5nzRW-izTk42D0PiA9G0gzYAEwE_onlUmC-J_TLeuZeKyy4r3n3_ocA6N9gPQOIM2AA4SvX9q8mRHIcFecKMKgAhYDuW_jQYYFQEoBxG9gYHAAih5QaGF2APE5GLQmNTgwOHAoMgEAX4[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?dt=2024-08-06&hour=02&key=1d62709f9ba242638d7162145240208&q=40.71453,-74.00712
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999959'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 02:34:26'
      Cdn-Edgestorageid:
      - '941'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 7fa1f2d8658a090f28c5e334f76ae00b
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"location":{"name":"New York","region":"New York","country":"United
        States of America","lat":40.71,"lon":-74.01,"tz_id":"America/New_York","localtime_epoch":1722911574,"localtime":"2024-08-05
        22:32"},"current":{"last_updated_epoch":1722911400,"last_updated":"2024-08-05
        22:30","temp_c":29.3,"temp_f":84.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":239,"wind_dir":"WSW","pressure_mb":1014.0,"pressure_in":29.93,"precip_mm":0.0,"precip_in":0.0,"humidity":45,"cloud":19,"feelslike_c":30.1,"feelslike_f":86.2,"windchill_c":29.3,"windchill_f":84.7,"heatindex_c":30.1,"heatindex_f":86.2,"dewpoint_c":16.3,"dewpoint_f":61.3,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":13.2,"gust_kph":21.2},"forecast":{"forecastday":[{"date":"2024-08-06","date_epoch":1722902400,"day":{"maxtemp_c":30.9,"maxtemp_f":87.6,"mintemp_c":22.9,"mintemp_f":73.2,"avgtemp_c":27.2,"avgtemp_f":80.9,"maxwind_mph":11.4,"maxwind_kph":18.4,"totalprecip_mm":9.91,"totalprecip_in":0.39,"totalsnow_cm":0.0,"avgvis_km":9.5,"avgvis_miles":5.0,"avghumidity":67,"daily_will_it_rain":1,"daily_chance_of_rain":93,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Moderate
        rain","icon":"//cdn.weatherapi.com/weather/64x64/day/302.png","code":1189},"uv":8.0},"astro":{"sunrise":"05:58
        AM","sunset":"08:05 PM","moonrise":"07:56 AM","moonset":"09:24 PM","moon_phase":"Waxing
        Crescent","moon_illumination":2,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722924000,"time":"2024-08-06
        02:00","temp_c":27.0,"temp_f":80.5,"is_day":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":8.3,"wind_kph":13.3,"wind_degree":246,"wind_dir":"WSW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":68,"cloud":25,"feelslike_c":28.8,"feelslike_f":83.8,"windchill_c":27.0,"windchill_f":80.5,"heatindex_c":28.8,"heatindex_f":83.8,"dewpoint_c":20.4,"dewpoint_f":68.8,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":11.6,"gust_kph":18.6,"uv":0}]}]}}'
  recorded_at: Tue, 06 Aug 2024 02:34:26 GMT
recorded_with: VCR 6.2.0
