---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=GzromzOTeut8c39w4Jk6sVtVyxH6jTo7&location=boston,ma
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"31c-86hwIqFSo9VTj/e824qmyFmCqSw"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"boston,ma"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Boston","adminArea5Type":"City","adminArea4":"Suffolk","adminArea4Type":"County","adminArea3":"MA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":42.35866,"lng":-71.05674},"displayLatLng":{"lat":42.35866,"lng":-71.05674},"mapUrl":""}]}]}'
  recorded_at: Tue, 06 Aug 2024 02:34:24 GMT
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=1d62709f9ba242638d7162145240208&q=42.35866,-71.05674
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999959'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 02:34:24'
      Cdn-Edgestorageid:
      - '894'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - e6cedfbb5b285275a5395298e53a5434
      Cdn-Cache:
      - MISS
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Boston","region":"Massachusetts","country":"United
        States of America","lat":42.36,"lon":-71.06,"tz_id":"America/New_York","localtime_epoch":1722911572,"localtime":"2024-08-05
        22:32"},"current":{"last_updated_epoch":1722911400,"last_updated":"2024-08-05
        22:30","temp_c":25.1,"temp_f":77.2,"is_day":0,"condition":{"text":"Partly
        Cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":11.0,"wind_kph":17.6,"wind_degree":219,"wind_dir":"SW","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.0,"precip_in":0.0,"humidity":67,"cloud":30,"feelslike_c":26.6,"feelslike_f":79.9,"windchill_c":25.1,"windchill_f":77.2,"heatindex_c":26.6,"heatindex_f":79.9,"dewpoint_c":18.5,"dewpoint_f":65.3,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":17.4,"gust_kph":27.9},"forecast":{"forecastday":[{"date":"2024-08-05","date_epoch":1722816000,"day":{"maxtemp_c":31.7,"maxtemp_f":89.1,"mintemp_c":19.6,"mintemp_f":67.3,"avgtemp_c":25.5,"avgtemp_f":77.9,"maxwind_mph":11.0,"maxwind_kph":17.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":7.2,"avgvis_miles":4.0,"avghumidity":69,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Partly
        Cloudy ","icon":"//cdn.weatherapi.com/weather/64x64/day/116.png","code":1003},"uv":8.0},"astro":{"sunrise":"05:42
        AM","sunset":"07:58 PM","moonrise":"06:36 AM","moonset":"08:54 PM","moon_phase":"Waxing
        Crescent","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722830400,"time":"2024-08-05
        00:00","temp_c":21.2,"temp_f":70.2,"is_day":0,"condition":{"text":"Fog","icon":"//cdn.weatherapi.com/weather/64x64/night/248.png","code":1135},"wind_mph":6.0,"wind_kph":9.7,"wind_degree":257,"wind_dir":"WSW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":97,"cloud":100,"feelslike_c":21.2,"feelslike_f":70.2,"windchill_c":21.2,"windchill_f":70.2,"heatindex_c":22.6,"heatindex_f":72.7,"dewpoint_c":20.8,"dewpoint_f":69.5,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":0.0,"vis_miles":0.0,"gust_mph":11.5,"gust_kph":18.5,"uv":0},{"time_epoch":1722834000,"time":"2024-08-05
        01:00","temp_c":20.9,"temp_f":69.6,"is_day":0,"condition":{"text":"Fog","icon":"//cdn.weatherapi.com/weather/64x64/night/248.png","code":1135},"wind_mph":5.4,"wind_kph":8.6,"wind_degree":242,"wind_dir":"WSW","pressure_mb":1013.0,"pressure_in":29.91,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":97,"cloud":100,"feelslike_c":20.9,"feelslike_f":69.6,"windchill_c":20.9[...]
