---
http_interactions:
- request:
    method: get
    uri: https://www.mapquestapi.com/geocoding/v1/address?key=GzromzOTeut8c39w4Jk6sVtVyxH6jTo7&location=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"32d-xAevIuoHezrss/VzW98fEcF5tRY"
    body:
      encoding: UTF-8
      string: '{"info":{"statuscode":0,"copyright":{"text":"© 2024 MapQuest, Inc.","imageUrl":"http://api.mqcdn.com/res/mqlogo.gif","imageAltText":"©
        2024 MapQuest, Inc."},"messages":[]},"options":{"maxResults":-1,"ignoreLatLngInput":false},"results":[{"providedLocation":{"location":"Los
        Angeles, CA"},"locations":[{"street":"","adminArea6":"","adminArea6Type":"Neighborhood","adminArea5":"Los
        Angeles","adminArea5Type":"City","adminArea4":"Los Angeles","adminArea4Type":"County","adminArea3":"CA","adminArea3Type":"State","adminArea1":"US","adminArea1Type":"Country","postalCode":"","geocodeQualityCode":"A5XAX","geocodeQuality":"CITY","dragPoint":false,"sideOfStreet":"N","linkId":"0","unknownInput":"","type":"s","latLng":{"lat":34.05357,"lng":-118.24545},"displayLatLng":{"lat":34.05357,"lng":-118.24545},"mapUrl":""}]}]}'
  recorded_at: Tue, 06 Aug 2024 02:43:14 GMT
- request:
    method: get
    uri: https://www.mapquestapi.com/directions/v2/route?from=New%20York,%20NY&key=GzromzOTeut8c39w4Jk6sVtVyxH6jTo7&to=Los%20Angeles,%20CA
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Transaction-Count:
      - all=3,geocoding=2,directions=1
      Etag:
      - W/"e8e3-rEsPvEmEb7UPPpqaZgqSXyPQJW0"
    body:
      encoding: UTF-8
      string: '{"route":{"sessionId":"AB8B_v___wYAAQAhAgAAeNpjUGRiYGJgYGDPSC1KtUrO7Z9UJgnkMnxOt6zn4LHKiveef-tzDIz2AdI7gDQDFgAzwfT_DykQnzEnRIKBZ77QK-1kZ_MIGL0DSDcBaQYc4AG_RXs8D5Axw2XlLgEhBYZZnQwtokAXdoBkmaCqHAIYGBmEgAwDAQYGDgcHBgcHIEMBJAUklIBiDA4sLEASE7AgcwQQzCZOINGAEGWEsFkcUXQ3IJgOQLuYNZkYdZDlE0AKmCQYQexHcFEF7H5FcQoTGHM0gEgBRpioE9AhEK8zMKK4QADMamjgABnOxMbAEMDBwdIAUcAEczxEQwPEtaDAEGBBcwsshDjgQdXACAkUFgmIhxY9YgQAwhY6pwEDGE4:car","realTime":142829,"distance":2793.1573,"time":140149,"formattedTime":"38:55:49","hasHighway":true,"hasTollRoad":true,"hasBridge":true,"hasSeasonalClosure":false,"hasTunnel":true,"hasFerry":false,"hasUnpaved":false,"hasTimedRestriction":false,"hasCountryCross":false,"legs":[{"index":0,"hasTollRoad":true,"hasHighway":true,"hasBridge":true,"hasUnpaved":false,"hasTunnel":true,"hasSeasonalClosure":false,"hasFerry":false,"hasCountryCross":false,"hasTimedRestriction":false,"distance":2793.1573,"time":142829,"formattedTime":"39:40:29","origIndex":0,"origNarrative":"","destIndex":0,"destNarrative":"","maneuvers":[{"index":0,"distance":0.0516,"narrative":"Head
        toward Church St on Chambers St. Go for 272 ft.","time":23,"direction":2,"directionName":"Northwest","signs":[],"maneuverNotes":[],"formattedTime":"00:00:23","transportMode":"car","startPoint":{"lat":40.714532,"lng":-74.007119},"turnType":0,"attributes":0,"iconUrl":"","streets":["Chambers
        St"],"mapUrl":"https://www.mapquestapi.com/staticmap/v5/map?key=GzromzOTeut8c39w4Jk6sVtVyxH6jTo7&size=225,160&locations=40.714532,-74.007119|marker-1||40.7149,-74.00797|marker-2||&center=40.714715999999996,-74.0075445&defaultMarker=none&zoom=16&session=AB8B_v___wYAAQAhAgAAeNpjUGRiYGJgYGDPSC1KtUrO7Z9UJgnkMnxOt6zn4LHKiveef-tzDIz2AdI7gDQDFgAzwfT_DykQnzEnRIKBZ77QK-1kZ_MIGL0DSDcBaQYc4AG_RXs8D5Axw2XlLgEhBYZZnQwtokAXdoBkmaCqHAIYGBmEgAwDAQYGDgcHBgcHIEMBJAUklIBiDA4sLEASE7AgcwQQzCZOINGA[...]
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?dt=2024-08-07&hour=13&key=1d62709f9ba242638d7162145240208&q=34.05357,-118.24545
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999959'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 02:43:16'
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 36c82a7f4b20ab746863ee57f027a67c
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Los Angeles","region":"California","country":"United
        States of America","lat":34.05,"lon":-118.25,"tz_id":"America/Los_Angeles","localtime_epoch":1722912104,"localtime":"2024-08-05
        19:41"},"current":{"last_updated_epoch":1722911400,"last_updated":"2024-08-05
        19:30","temp_c":29.2,"temp_f":84.6,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":6.5,"wind_kph":10.4,"wind_degree":235,"wind_dir":"SW","pressure_mb":1009.0,"pressure_in":29.81,"precip_mm":0.0,"precip_in":0.0,"humidity":33,"cloud":8,"feelslike_c":28.6,"feelslike_f":83.4,"windchill_c":29.2,"windchill_f":84.6,"heatindex_c":28.6,"heatindex_f":83.4,"dewpoint_c":11.6,"dewpoint_f":52.8,"vis_km":10.0,"vis_miles":6.0,"uv":7.0,"gust_mph":7.9,"gust_kph":12.7},"forecast":{"forecastday":[{"date":"2024-08-07","date_epoch":1722988800,"day":{"maxtemp_c":30.4,"maxtemp_f":86.7,"mintemp_c":23.2,"mintemp_f":73.8,"avgtemp_c":26.4,"avgtemp_f":79.5,"maxwind_mph":10.7,"maxwind_kph":17.3,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":44,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":10.0},"astro":{"sunrise":"06:09
        AM","sunset":"07:48 PM","moonrise":"09:05 AM","moonset":"09:41 PM","moon_phase":"Waxing
        Crescent","moon_illumination":6,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1723060800,"time":"2024-08-07
        13:00","temp_c":29.6,"temp_f":85.2,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":9.6,"wind_kph":15.5,"wind_degree":169,"wind_dir":"S","pressure_mb":1015.0,"pressure_in":29.97,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":31,"cloud":16,"feelslike_c":28.8,"feelslike_f":83.8,"windchill_c":29.6,"windchill_f":85.2,"heatindex_c":28.8,"heatindex_f":83.8,"dewpoint_c":11.2,"dewpoint_f":52.1,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":11.1,"gust_kph":17.8,"uv":7.0}]}]}}'
  recorded_at: Tue, 06 Aug 2024 02:43:16 GMT
recorded_with: VCR 6.2.0
