---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=1d62709f9ba242638d7162145240208&q=34.05357,-118.24545
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999977'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/05/2024 02:27:35'
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - fbc50cc1d1c17043e885a946443b770e
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Los Angeles","region":"California","country":"United
        States of America","lat":34.05,"lon":-118.25,"tz_id":"America/Los_Angeles","localtime_epoch":1722824763,"localtime":"2024-08-04
        19:26"},"current":{"last_updated_epoch":1722824100,"last_updated":"2024-08-04
        19:15","temp_c":27.8,"temp_f":82.0,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":7.8,"wind_kph":12.6,"wind_degree":227,"wind_dir":"SW","pressure_mb":1010.0,"pressure_in":29.81,"precip_mm":0.0,"precip_in":0.0,"humidity":39,"cloud":2,"feelslike_c":27.7,"feelslike_f":81.8,"windchill_c":27.8,"windchill_f":82.0,"heatindex_c":27.7,"heatindex_f":81.8,"dewpoint_c":12.8,"dewpoint_f":55.0,"vis_km":10.0,"vis_miles":6.0,"uv":7.0,"gust_mph":9.1,"gust_kph":14.6},"forecast":{"forecastday":[{"date":"2024-08-04","date_epoch":1722729600,"day":{"maxtemp_c":32.4,"maxtemp_f":90.3,"mintemp_c":22.9,"mintemp_f":73.3,"avgtemp_c":26.8,"avgtemp_f":80.3,"maxwind_mph":10.3,"maxwind_kph":16.6,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":43,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":10.0},"astro":{"sunrise":"06:07
        AM","sunset":"07:51 PM","moonrise":"06:09 AM","moonset":"08:24 PM","moon_phase":"New
        Moon","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722754800,"time":"2024-08-04
        00:00","temp_c":24.3,"temp_f":75.8,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":188,"wind_dir":"S","pressure_mb":1012.0,"pressure_in":29.89,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":49,"cloud":3,"feelslike_c":25.4,"feelslike_f":77.7,"windchill_c":24.3,"windchill_f":75.8,"heatindex_c":25.4,"heatindex_f":77.7,"dewpoint_c":12.9,"dewpoint_f":55.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":4.6,"gust_kph":7.5,"uv":0},{"time_epoch":1722758400,"time":"2024-08-04
        01:00","temp_c":24.0,"temp_f":75.1,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":3.1,"wind_kph":5.0,"wind_degree":176,"wind_dir":"S","pressure_mb":1012.0,"pressure_in":29.88,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":50,"cloud":0,"feelslike_c":25.2,"feelslike_f":77.4,"windchill_c":24.0,"[...]
