---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=6&key=1d62709f9ba242638d7162145240208&q=34.05357,-118.24545
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999959'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - '08/06/2024 02:34:25'
      Cdn-Edgestorageid:
      - '1029'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - ed554039fc28ad00d7ce99905bbb0e3b
      Cdn-Cache:
      - HIT
    body:
      encoding: UTF-8
      string: '{"location":{"name":"Los Angeles","region":"California","country":"United
        States of America","lat":34.05,"lon":-118.25,"tz_id":"America/Los_Angeles","localtime_epoch":1722911574,"localtime":"2024-08-05
        19:32"},"current":{"last_updated_epoch":1722911400,"last_updated":"2024-08-05
        19:30","temp_c":29.2,"temp_f":84.6,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":6.5,"wind_kph":10.4,"wind_degree":235,"wind_dir":"SW","pressure_mb":1009.0,"pressure_in":29.81,"precip_mm":0.0,"precip_in":0.0,"humidity":33,"cloud":8,"feelslike_c":28.6,"feelslike_f":83.4,"windchill_c":29.2,"windchill_f":84.6,"heatindex_c":28.6,"heatindex_f":83.4,"dewpoint_c":11.6,"dewpoint_f":52.8,"vis_km":10.0,"vis_miles":6.0,"uv":7.0,"gust_mph":7.9,"gust_kph":12.7},"forecast":{"forecastday":[{"date":"2024-08-05","date_epoch":1722816000,"day":{"maxtemp_c":33.0,"maxtemp_f":91.4,"mintemp_c":23.2,"mintemp_f":73.8,"avgtemp_c":27.7,"avgtemp_f":81.8,"maxwind_mph":9.8,"maxwind_kph":15.8,"totalprecip_mm":0.0,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":41,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":11.0},"astro":{"sunrise":"06:08
        AM","sunset":"07:50 PM","moonrise":"07:10 AM","moonset":"08:53 PM","moon_phase":"Waxing
        Crescent","moon_illumination":0,"is_moon_up":1,"is_sun_up":1},"hour":[{"time_epoch":1722841200,"time":"2024-08-05
        00:00","temp_c":24.6,"temp_f":76.2,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.7,"wind_kph":4.3,"wind_degree":197,"wind_dir":"SSW","pressure_mb":1011.0,"pressure_in":29.87,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":51,"cloud":6,"feelslike_c":25.6,"feelslike_f":78.0,"windchill_c":24.6,"windchill_f":76.2,"heatindex_c":25.6,"heatindex_f":78.0,"dewpoint_c":13.5,"dewpoint_f":56.3,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":3.9,"gust_kph":6.2,"uv":0},{"time_epoch":1722844800,"time":"2024-08-05
        01:00","temp_c":24.3,"temp_f":75.8,"is_day":0,"condition":{"text":"Clear ","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.5,"wind_kph":4.0,"wind_degree":198,"wind_dir":"SSW","pressure_mb":1011.0,"pressure_in":29.86,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":50,"cloud":7,"feelslike_c":25.4,"feelslike_f":77.8,"windchill_c":24.3[...]
